<!DOCTYPE html>
<html>
<head>
	<title>Contactez-nous</title>
	<link rel="stylesheet" type="text/css" href="styleCN.css">
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
  <header>
    <nav>
      <div class="logo">HOUSESCAPE</div>
      <ul class="menu">
        <li><a href="HomePage.html">Accueil</a></li>
        <li><a href="Contactez-nous.html">Nous-Contacter</a></li>
		<li><a href="CommentCaMarche.html">Comment ça marche ?</a></li>
      </ul>
    </nav>
  </header>
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<h2>Nous contacter</h2>
				<input type="text" class="field" placeholder="Votre nom">
				<input type="text" class="field" placeholder="Votre Email">
				<input type="text" class="field" placeholder="Votre numero de telephone">
				<textarea placeholder="Message" class="field"></textarea>
				<button class="btn">Envoyer</button>
			</div>
		</div>
	</div>
</body>
</html>